#mochila{
    background-color: brown;
    width: 1000px;
    height: 200px;
    display: flex;

}
#mochila div{
background-color: burlywood;
width: 150px;
height: 150px;
margin: 30px;
text-align: center;
}
body main{
    display: flex;
    justify-content: center;
}